# Latex files
*.aux
*.synctex.gz
*.out
*.log
*.idx
*.bbl
*.blg
*.PNG
*.txt

# Data files
Project*/ResultsComputation
Project*/CPUtime*

# cpp executables
*.exe
*.o

# Mac directory file
.DS_Store


#Elias local files
Project1/Ex3_1
Project1/LUexample.cpp
Project1/tableerror.py
Project1/Timetosolve.png
Project1/algo_MM.py
Project1/Solvetime

Project2_copy*
