# Latex files
*.aux
*.synctex.gz
*.out
*.log
*.idx
*.bbl
*.blg

# Data files
Project*/ResultsComputation
Project*/CPUtime*
*.txt
*.PNG
*.csv
*.PDF

# cpp executables
*.exe
*.o
*.pdf

# Mac directory file
.DS_Store


#Elias local files
Project1/Ex3_1
Project1/LUexample.cpp
Project1/tableerror.py
Project1/Timetosolve.png
Project1/algo_MM.py
Project1/Solvetime

Project2_copy*
